<div class="container">
    <div class="row">
        <h2>商品詳細</h2>
    </div>
    
    <div class="row">
        <div class="col">
            <%= image_tag @item.image, size: "100x100" %>
        </div>
        <div class="col">
            <table>
                <tr>
                    <th>商品名</th>
                    <td><%= @item.name %></td>
                </tr>
                <tr>
                    <th>商品説明</th>
                    <td><%= @item.explanation %></td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td><%= @item.genre.name %></td>
                </tr>
                <tr>
                    <th>税抜価格</th>
                    <td><%= @item.non_taxed_price %></td>
                    
                </tr>
                <tr>
                    <th>販売ステータス</th>
                    <td>
                        <% if @item.is_active == true %>
                             販売中
                        <% else %>
                            販売停止中
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td><%= link_to 'edit', edit_admin_item_path(@item) %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
