<div class="container">
  <div class="row">
    <h2>注文履歴詳細</h2>
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="col">購入者</th>
            <th scope="col"><%= link_to @order.customer.family_name + @order.customer.first_name, admin_customers_path(@order.customer.id) %></th>
          </tr>
          <tr>
            <th scope="col">注文日</th>
            <th scope="col"><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= @order.post_code %><%= @order.address %></th>
          </tr>
          <tr>
            <th>支払い方法</th>
            <th><%= @order.payment_method_i18n %></th>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch, local: true do |f| %>
                <%= f.select :status, Order.statuses_i18n.invert %>
                <!--%= f.hidden_field :id, :value => @order.id %-->
                <%= f.submit "更新", class:"btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-8"style="margin-top: 50px;">
      <table class="table table-bordered">
        <thead>
          <tr class="table-head" style="background-color:#a7b19b;">
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col">制作ステータス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.price * order_detail.amount %></td>
            <td><!%= order_detail.production_status %></td>
            <td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
              　<%= f.select :production_status, OrderDetail.production_statuses_i18n.invert%>

                <!--%= f.hidden_field :id, :value => order_detail.id %>
                <!--%= f.hidden_field :order_id, :value => @order.id %-->
                <%= f.submit "更新", class:"btn btn-primary" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4"style="margin-top: 120px;">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">商品合計</th>
            <td><%= @sum %>円</td>
          </tr>
          <tr>
            <th scope="row">送料</th>
            <td><%= @order.postage %>円</td>
          </tr>
          <tr>
            <th scope="row">請求金額</th>
            <td><%= @sum + @order.postage %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


