<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4>配送先編集</h4>
      <%= form_with model: @address, local: true do |f| %>
      
        <table>
          <tr>
            <th>
              <label class="postal-code-label">郵便番号（ハイフンなし）</label>
            </th>
            <th>
              <%= f.text_field :post_code, autofocus: true, class:"", size:"" %>
            </th>
          </tr>
          <tr>
            <th>
              <label class="address-label">住所</label>
            </th>
            <th>
              <%= f.text_field :address, autofocus: true, class:"", size:"60*60" %>
            </th>
          </tr>
          <tr>
            <th>
              <label class="address-label">宛名</label>
            </th>
            <th>
              <%= f.text_field :name, autofocus: true, class:"", size:"30*30" %>
            </th>
          </tr>
          <tr>
            <th>
              <%= f.submit "変更内容を保存", class: "btn custom1-btn" %>
            </th>
          </tr>
        </table>
      <% end %>
    </div>
  </div> 
</div>  
