<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h4>配送先登録/一覧</h4>
      <%= form_with model: @address, local: true do |f| %>
        <table>
          <tr>
            <th class="field">
              <label class="postal-code-label">郵便番号（ハイフンなし）</label>
            </th>
            <th>
              <%= f.text_field :post_code, autofocus: true, class:"", size:"" %>
            </th>
          </tr>  
          <tr>
            <th class="field">
              <label class="address-label">住所</label>
            </th>
            <th>
              <%= f.text_field :address, autofocus: true, class:"", size:"60*60" %>
            </th>
          </tr>
          <tr>
            <th>
              <label class="address-label">宛名</label>  
            </th>
            <th>
              <%= f.text_field :name, autofocus: true, class:"", size:"30*30" %>
            </th>
          </tr>
          <tr>
            <th>
              <%= f.submit "登録する", class: "btn custom1-btn submit" %>    
            </th>
          </tr>
        </table>    
     <% end %>
     
     <table class="table table-bordered address-table">
        <thead>
          <tr class="table-head" style="background-color:#e6cde3;">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>

            <tr>
              <td><%= address.post_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td><%= link_to "編集する", edit_address_path(address.id), class: "btn custom1-btn"  %></td>
              <td><%= link_to "削除する", address_path(address.id), class: "btn btn-danger", method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>