<div class="container">

    <div class="row login-row mt-5">
	    <h2>ショッピングカート</h2>
		<%= button_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: "btn btn-danger destroy-all" %>
	</div>
	<div class="row">
		<table class="table table-bordered cart-table">
			<thead class="thead-light">
				<tr style="background-color:#F5F5F5;">
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td><%= cart_item.item.name %></td>
					<td><%= (cart_item.item.non_taxed_price * 1.1).to_i %></td>
					<td>
						<%= form_with model: cart_item, url: cart_item_path(id: cart_item.id), method: :patch, local: true do |f| %>
							<%= f.number_field :amount, min: 1, max: 100 %>
							<%= f.submit "変更" %>
						<% end %>
					</td>
					<td><%= (Item.find(cart_item.item_id).non_taxed_price * 1.1 * cart_item.amount).to_i  %></td>
					<td><%= link_to "削除する", cart_item_path(id: cart_item.id), method: :delete, class: "btn custom1-btn"  %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table table-bordere">
			<tr>
				<th>合計金額</th>
				<td><%= @sum %></td>
			</tr>
		</table>
	</div>
	<div class="col"><%= link_to "買い物を続ける", root_path, class: "btn custom1-btn" %></div>
	<div class="row justify-content-center">
		<% if @cart_items.size == 0  %>
			<%= link_to "情報入力に進む", cart_items_path, class: "btn custom1-btn" %>
		<% else %>
			<%= link_to "情報入力に進む", new_order_path, class: "btn custom1-btn" %>
		<% end %>
	</div>
</div>

