<div class="container p-3">
  <div class="row justify-content-center mt-5 mx-auto">
  <div class="col-md-4 headline">

    <h3>注文情報入力</h3>

    <%= form_with model: Order.new, url: confirm_orders_path do |f|  %>

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">支払い方法</th>
            <td>
              <div class="radio">

                <%= f.radio_button :payment_method, :credit_card, checked: true %>
                <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], {value: :credit_card} %>
                
                <%= f.radio_button :payment_method, 1 %>
                <%= f.label :payment_method, Order.payment_methods_i18n[:transfer], {value: :transfer} %>

              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">お届け先</th>
            <td>        
              <div class="radio">
                <%= f.radio_button :address_type, "customer_address", checked: true %>
                <%= f.label :address_type, "ご自身の住所" %>
              </div>
              <div class="radio">
                <%= f.radio_button :address_type, [:registered_address] %>
                <%= f.label :address_type, "登録済住所から選択" %>
                <%= f.select :registered_address_id, current_customer.addresses.all.map { |m| [[m.post_code, m.address, m.name].join(" "), m.id] } ,include_blank: "登録してある配送先住所から選択" %>
              </div>
              <div class="radio">
                <%= f.radio_button :address_type, "new_address" %>
                <%= f.label :address_type, "新しいお届け先" %>
              </div>  
                
              <div class="field">
                  郵便番号(ハイフンなし)
              </div>
              
                <%= f.text_field :new_post_code, placeholder: "0000000", class: "mt-1" %>
              </div>
                  
              <div class="field">
                  住所
              </div>    
              <div>
                <%= f.text_field :new_address, class: "w-75", placeholder: "東京都新宿区1-2-3", class: "w-100 mr-1 ml-1" %>
              </div>    
                  
              </div>
                <div class="field">
                  宛名
                </div>  
                <div>
                  <%= f.text_field :new_name, placeholder: "平成太郎", class: "mb-2 ml-1 mt-1" %>
                </div>  
                
                  
          </tr>
        </tbody>
      </table>
      <div class="col-xs-offset-5">
        <%= f.submit "確認画面へ進む",class:"btn btn-primary col-xs-3 " %>
      </div>
    <% end %>
  </div>
</div>