<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <%= render 'searches/genre', genres: @genres %>
      </div>

      <div class ="col-md-9">
        <h2>商品一覧</h2>
        <h5>（全<%= @items.count %>件）</h5>


        <div class="row">

             <% @items.each do |item| %>
                <div class="col-md-3">
                   <div class="card custom-card mb-4 shadow-lg">
                     <%= link_to item_path(item.id) do %>
                       <%= image_tag item.image,size: "200x200",class:"card-img-top"; %>
                     <% end %>
                   <div class="card-body">

                     <p class="card-title">
                       <%= link_to item_path(item.id) do %>
                         <%= item.name %>
                       <% end %>
                     </p>
                     <p class="card-price">¥<%= (item.non_taxed_price*1.1).to_i %></p>

                    </div>
                  </div>
                </div>
              <% end %>
             <%= paginate @items %>
          </div>
     </div>
   </div>
  </div>
</div>
