<div class="container">
  <div class="row">



    <div class="col-5">
      <%= image_tag @item.get_image(300,300) %>
    </div>
    <div class="col-4 offset-xs-2">
      <h3><%= @item.name %></h3><br>
      <p><%= @item.explanation %></p><br>
      <h5>¥<%= (@item.non_taxed_price * 1.1).to_i %>（税込）</h5>

      <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local: true) do |f| %>

          <%= f.label :amount, '個数選択' %>
          <%= f.select :amount, *[1..20], { include_blank: '選択してください'}, { class: 'form-control', required: true } %>
          <%= f.hidden_field :id, :value => @item.id %>
          <%= f.submit 'カートに入れる', class: "btn custom2-btn btn-block" %>

      <% end %>

    </div>
  </div>
</div>
