<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1ccc9ca859.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
       <nav class="navbar navbar-expand">
          <div class = "container">
                <div class="navbar-nav">
                  <%= link_to root_path do %>
                    <i class="fa-solid fa-apple-whole"></i>ながのCAKE
                  <% end %>
                </div>




            <!--adimin login時header-->
            <% if admin_signed_in? %>
              <ul class="navbar-nav mt-3">
                <li class="nav-item">
                  <%= link_to items_path do %>
                    <i class="fa-solid fa-cookie-bite">商品一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  admin_customers_path do %>
                    会員一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to do %>
                    <i class="fa-solid fa-list"></i>注文履歴一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  admin_genres_path do %>
                    <i class="fa-regular fa-clipboard"></i>ジャンル一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  destroy_admin_session_path, method: :delete do %>
                    ログアウト
                  <% end %>
                </li>
              </ul>

            <% elsif customer_signed_in? %>
              <ul class="navbar-nav mt-3">
                <li class="customer_name">
                  ようこそ！<%= current_customer.family_name %>さん
                </li>
                <li class="nav-item">
                  <%= link_to customers_mypage_path do %>
                    <i class="fa-solid fa-cake-candles"></i>マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to items_path do %>
                    <i class="fa-solid fa-cookie-bite"></i>商品一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to cart_items_path do %>
                    <i class="fa-solid fa-cart-shopping"></i>カート
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, method: :delete do %>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>ログアウト
                  <% end %>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav mt-3">
                <li class="nav-item">
                  <%= link_to about_path do %>
                    <i class="fa-solid fa-cake-candles"></i>アバウト
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to items_path do %>
                    <i class="fa-solid fa-cookie-bite"></i>商品一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_registration_path do %>
                    <i class="fa-solid fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_customer_session_path do %>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>ログイン
                  <% end %>
                </li>
              </ul>
            <% end %>
          </div>
       </nav>
    </header>
    <%= yield %>
    
    <footer class="container">
      <div class="row justify-content-center">
        <i class="fa-regular fa-copyright">TEAM SAMOHAN</i>
      </div>
      </div>
    </footer>
  </body>
</html>
